demo缺省配置为使用http://localhost:8080访问,如果你的tomcat端口不同,请修改WEB-INF/conf/server.properties
<hr/>
$iDemand.addJs('jquery')
URLBroker演示:<br/>
我来造个app链接  $appServer.get('index.htm')  <br/>
再来造个  $appServer.get('search.htm').addQueryData('key','中文搜索').addQueryData('sort','price')  <br/>
静态图片链接 $imageServer.get('/e/f/ggg.png')<br/>
https app链接 $sslAppServer.get('index.htm')<br/>
多主机链接，直接输出显示配置的一个主机：$uploadServer 构造url(缺省使用链接字符串的hashCode计算):$uploadServer.get('1.jpg') $uploadServer.get('2.jpg') $uploadServer.get('3.jpg') <br/>
<hr/>
<a href="$appServer.get('vpage.htm')">velocoty页面</a> <br/>
<a href="$appServer.get('jsppage.htm')">jsp页面</a> <br/>
<hr/>
spring mvc annotation 演示:<br/>
action方法返回值演示，AnnotationDemoAction.java
<ul>
<li><a href="$appServer.get('annotation/return/void.htm')">返回 void -- Method:annotationVoid</a></li>
<li><a href="$appServer.get('/annotation/return/string.htm')">返回 String -- Method:annotationString</a></li>
<li><a href="$appServer.get('/annotation/return/view.htm')">返回 view -- Method:annotationModelAndView</a></li>
<script type="text/javascript">
	$(document).ready(function() {
		$("#json_return_href").click(function(){
		jQuery.getJSON("$appServer.get('/annotation/return/json.json')",
			function(data){
				alert('name:'+data.name+' nick:'+data.nick+' age:'+data.age);
			}); 
		});
		$("#json_bind_href").click(function(){
		jQuery.ajax({
			type: "POST",
			url:"$appServer.get('/annotation/param/json.json')",
			contentType:"application/json",
			data:'{"name":"shaseng","nick":"sanshidi","age":250}',
			dataType:"json",
			success:function(data){
				alert('name:'+data.name+' nick:'+data.nick+' age:'+data.age);
			}
		  })	
		});
	})
</script>
<li><a href="#" id="json_return_href">返回 json -- Method:annotationJson</a></li>
</ul> 
<br/>
action入参演示 ,AnnotationDemoAction.java
<ul>
<li><a href="$appServer.get('annotation/param/base.htm').addQueryData('name','齐天')">基本 -- Method:annotationBase</a></li>
<li><a href="$appServer.get('annotation/param/object_bind.htm').addQueryData('name','八戒').addQueryData('nick','二师兄').addQueryData('age','500')">对象属性自带绑定 -- Method:annotationObjectBind</a></li>
<li><a href="#" id="json_bind_href">json对象绑定 -- Method:annotationJsonBind</a></li>
<li><a href="${appServer.get('movieUrl').put('movieName','matrix').put('shipId',66)}">REST风格URL path参数绑定 -- Method:annotationRestBind</a></li>
</ul>
<hr/>
contain使用演示:<br/>
<ul>
<li><a href="$appServer.get('ct/base.htm')">基本使用</a></li>
<li><a href="$appServer.get('ct/async.htm')">bigpipe使用</a></li>
</ul>
<hr/>
校验码演示:<br/>
<ul>
<li><img src="$appServer.get('/checkcode/simple.htm')" /></li>
<li><img src="$appServer.get('/checkcode/arithmetic.htm')" /></li>
</ul>
<hr/>
表单初始化/校验/处理演示入口：<br>
<a href="$!{appServer}/register.htm">用户注册</a><br/>
<a href="$!{appServer}/login.htm">用户登录</a><br/>
<a href="$!{appServer}/admin/login.htm">管理员登录</a><br/>
<a href="$!{appServer}/admin/main.htm">直接访问受保护url</a><br/>
<a href="$!{appServer}/admin/edit.htm?id=13">编辑管理用户</a><br/>
<hr/>
邮件发送演示入口：<br>
<a href="$!{appServer}/mail/send-simple-mail.htm">简单邮件发送</a>
<a href="$!{appServer}/mail/send-velocity-mail.htm">简单Velocity模板邮件发送</a>
<a href="$!{appServer}/mail/send-velocity-layout-mail.htm">Velocity layout模板邮件发送</a>
<br/>
<hr/>
文件上传下载演示:<br/>
<a href="$appServer.get('/upload/simple.htm')">文件上传</a><br/>
<a href="$appServer.get('/download/excel.htm')">excel文件下载</a><br/>
<hr/>
<a href="$appServer.get('/cache/demo.htm')">velocity页面cache</a><br/>
<hr/>
分页演示入口：<br>
<a href="$appServer.get('/query/form_page.htm')">form提交分页</a><br/>
<a href="$appServer.get('/query/seo_page.htm')">seo化静态链接分页</a><br/>
<hr/>
<a href="$appServer.get('/i18n/index.htm')">国际化</a><br/>
<hr/>
页面输出统计：<br>
<a href="$appServer.get('/report/output.htm')">统计</a><br/>
<hr/>
如果在web-bean.xml中开启了ResponseOutputBufferFilter的etagEnable(http cache)时，<br/>
页面带有如校验码之类的动态内容，如果需要取消http cache,则在vm上使用
\$request.setAttribute('page_no_cache','true')
$request.setAttribute('page_no_cache','true')<br/>
<hr/>
js rsa加密例子:<a href="$appServer.get('/rsa.htm')">点我</a>
<hr/>
<a href="$appServer.get('/chat.htm')">WebSocket聊天</a>
