<h2 class="melody-d-title">配置文件说明和示例</h2>


<br/>
<details open>
    <summary>
        <h3>*.properties配置文件</h3>
    </summary>
    <br/>
    <div style="margin-left: 5%;">
        $contain.get("properties/index.htm")
    </div>
</details>

<br/>
<details open>
    <summary>
        <h3>xml配置文件</h3>
    </summary>
    <br/>
    <div style="margin-left: 5%;">
        $contain.get("xml/index.htm")
    </div>
</details>

<br/>
<details open>
    <summary>
        <h3>log4j的配置</h3>
    </summary>
    <br/>
    <div style="margin-left: 5%;">
        $contain.get("log4j/index.htm")
    </div>
</details>

<br/>
<details open>
    <summary>
        <h3>velocity的配置</h3>
    </summary>
    <br/>
    <div style="margin-left: 5%;">
        $contain.get("velocity/index.htm")
    </div>
</details>

<br/>
<details open>
    <summary>
        <h3>web.xml</h3>
    </summary>
    <br/>
    <div style="margin-left: 5%;">
        $contain.get("webxml/index.htm")
    </div>
</details>
