<p>contain是用来在页面中动态include一个url的方法，类似于jsp中的jsp:include。</p>

<details class="menu" close>
    <summary>
        <h3>基本用法</h3>
    </summary>
    <div style="margin-left: 5%;">
        $contain.get('/widget/base.htm')
    </div>
</details>

<details class="menu" close>
    <summary>
        <h3>向页面传递参数</h3>
    </summary>
    <div style="margin-left: 5%;">
        $contain.get('/widget/set_param.htm')
    </div>
</details>
<details class="menu" close>
    <summary>
        <h3>多个contain页面的响应问题--同步contain</h3>
    </summary>
    <div style="margin-left: 5%;">
        $contain.get('/widget/block.htm')
    </div>
</details>
<details class="menu" close>
    <summary>
        <h3>bigpipe基本使用--异步contain</h3>
    </summary>
    <div style="margin-left: 5%;">
        $contain.get('/widget/bigpipe.htm')
    </div>
</details>
