
<h2 class="melody-d-title">页面制作说明和示例</h2>
<p>melody建议使用者使用Velocity构建页面，使用contain方法拼接页面。</p>
<br/>
<details close>
    <summary>
        <h3>Velocity模板语言</h3>
    </summary>
    <div style="margin-left: 5%;">
        $contain.get("velocity.htm")
    </div>
</details>
<br/>

<details class="menu" close>
    <summary>
        <h3>用contain拼接页面</h3>
    </summary>
    <div style="margin-left: 5%;">
        $contain.get("contain.htm")
    </div>
</details>

<br/>
<details class="menu" close>
    <summary>
        <h3>setLoyout</h3>
    </summary>
    <div style="margin-left: 5%;">
        <p>在"目录结构说明和示例"中已经讲过，页面文件会自动寻找layout文件夹下对应的同名模板或default模板，但是当你需要自行制定模板文件时可以使用setLayout方法。</p>
        <div class="melody-code-wrap"><pre><code>
\#set($layout="/layout/blank.htm")
        </code></pre></div>
        <p>上述代码是将页面的模板替换成blank.htm(空模版)，点击<a class="m-detail-link1" href="$appServer.get('webpages\introduce_blank.htm')">此链接</a>查看效果，点击<a class="m-detail-link1" href="$appServer.get('webpages\introduce.htm')">此链接</a>恢复正常模板</p>
    </div>
</details>

<br/>
<details class="menu" close>
    <summary>
        <h3>jscode</h3>
    </summary>
    <div style="margin-left: 5%;">StringUtil
<p>在使用异步(bigpipe)的时候，如果需要执行js语句，则需要使用jscode方法，否则js语句不一定能够成功执行，容易导致问题。</p>
        <p>jscode的使用方法如下所示</p>
        <div class="melody-code-wrap"><pre><code>
\#jscode()
     alert("执行jscode中的方法");UUIDGenerator
\#end
        </code></pre></div>
        <p>具体示例可以查看“本地异步示例”中的内容。</p>
    </div>
</details>

<br/>
<details class="menu" close>
    <summary>
        <h3>示例</h3>
    </summary>
    <br/>
    <div style="margin-left: 5%;">
        <p>
       <a class="m-detail-link1" href="$appServer.get('/webpages/demo/local_sync.htm')">本地同步示例</a>
       <a class="m-detail-link1" href="$appServer.get('/webpages/demo/local_async.htm')">本地异步示例</a>
       <a class="m-detail-link1" href="$appServer.get('/webpages/demo/remote_sync.htm')">远程同步示例</a>
       <a class="m-detail-link1" href="$appServer.get('/webpages/demo/remote_async.htm')">远程异步示例</a>
        </p>
    </div>
</details>
