<style type="text/css">
label.error {
	color: red;
	padding: 3px 10px;
}
span.required { 
	color: red; 
}
</style>
<form id="loginForm" action="${appServer}/admin/login.htm" method="post">
    <table>
        <tr>
            <th><span class="required">*</span>登录名：</th>
            <td>
                #springBind("admin.loginId")
                <input type="text" id="loginId" name="${status.expression}" value="$!{status.value}" />
				<label class="error">${status.errorMessage}</label>
            </td>
		</tr>
		<tr>
            <th><span class="required">*</span>口令：</th>
            <td>
                #springBind("admin.password")
                <input type="text" id="password" name="${status.expression}" value="" />
				<label class="error">${status.errorMessage}</label>
            </td>
		</tr>
		<tr>	
            <th>
                <input type="submit" value="登录" />
            </th>
        </tr>
    </table>
</form>