<h2 class="melody-d-title">传参、返回值说明和示例</h2>
<p>这一部分介绍页面与服务器交互的方式，包括页面向服务器传递参数和服务器返回数据的方式。</p>
<p>本页面对应的java文件为com.eyeieye.melody.demo.web.action.annotation.AnnotationDemoAction.java</p>
<br/>
<details open>
    <summary>
        <h3>传入参数</h3>
    </summary>
    <div style="margin-left: 5%;">
        $contain.get("/annotation/param/main_page.htm")
    </div>
</details>
<details open>
    <summary>
        <h3>返回参数</h3>
    </summary>
    <div style="margin-left: 5%;">
        $contain.get("/annotation/return/main_page.htm")
    </div>
</details>