<h2>拦截器</h2>
<p>Melody中的拦截器提供自动配置和非自动配置两种方法，下面分别介绍：</p>
<details close>
    <summary>
        <h3>自动配置</h3>
    </summary>
    <br/>
    <div style="margin-left: 5%;">
        $contain.get("automatic.htm")
    </div>
</details>

<details close>
    <summary>
        <h3>非自动配置</h3>
    </summary>
    <br/>
    <div style="margin-left: 5%;">
        $contain.get("nonautomatic.htm")
    </div>
</details>

<details close>
    <summary>
        <h3>示例</h3>
    </summary>
    <br/>
    <div style="margin-left: 5%;">
        <li>自动加载-方法级别的拦截器：请查看com.eyeieye.melody.demo.web.action.interceptor.MethodInterceptor类</li>
        <li>自动加载-URL级别的拦截器：请查看com.eyeieye.melody.demo.web.action.interceptor.UrlInterceptor类</li>
        <li>非自动加载的拦截器：请查看com.eyeieye.melody.demo.web.action.interceptor.NonAutomaticInterceptor类</li>
    </div>
</details>

