<span class="required">*</span>ajax校验：

<img src="$appServer.get('/checkcode/simple.htm')"/>
<input type="text" id="ajaxanswer" name="ajaxanswer" value=""/>
<input type="button" id="ajaxCheck" value="点击校验"/>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ajaxCheck").click(function () {
            var ajaxanswerValue = "$appServer.get('/checkcode/check.json?token=')" + $("#ajaxanswer").val();
            alert(ajaxanswerValue);
            jQuery.getJSON(ajaxanswerValue,
                function (data) {
                    alert(data);
                });
        });
    });
</script>