<h2>Melody2新特性</h2>
<h3>1、更常用的文件后缀</h3>
<p>Melody2中将页面文件的后缀更改为了".htm"，这样的后缀更具通用性，增强了兼容性。</p>
<h3>2、新的Nosession用法</h3>
<p>Melody2中使用Nosession不再需要创建CookieStore类了，只需要在xml中将相关信息配置好即可。</p>
<p><a class="m-detail-link1" href="$appServer.get('/nosession/introduce.htm')">查看详细>></a> </p>
<h3>3、新的拦截器</h3>
<p></p>
<p><a class="m-detail-link1" href="$appServer.get('/interceptor/introduce.htm')">查看详细>></a> </p>
<h3>4、新的Resolver</h3>
<p>Melody2中的Resolver不再是使用的WebArgumentResolver接口，而是使用的Spring自己的HandlerMethodArgumentResolver接口</p>
